@tailwind base;
@tailwind components;
@tailwind utilities;
  


.backgroundlayer{
background: linear-gradient(90deg, rgba(168,58,182,1) 0%, rgba(197,131,205,1) 54%, rgba(238,206,242,1) 100%);

  }

  .buttongradient{
    background: linear-gradient(90deg, #1E6FFF 0%, #005CFF 100%);

  }

  .boxshadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }


  .loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #9c1dac;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader3 {
    width: 48px;
    height: 48px;
    border: 5px dotted #205093 ;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader2 {
    width: 24px;
    height: 24px;
    border: 5px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader4 {
    width: 24px;
    height: 24px;
    border: 5px dotted #205093;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 


  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @keyframes shine {
    0% {
      left: -100%;
    }
    100% {
      left: 125%;
    }
  }
  
  .shine-effect {
    position: relative;
    /* width: 20rem;
    height: 15rem;  */
    background-color: #f87171; 
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.25rem;  */
  }
  
  /* .shine-effect h2 {
    z-index: 1;
  } */
  
  .shine-effect .shine-box {
    position: absolute;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, transparent, white);
    opacity: 0.4;
    transform: skewX(-12deg);
    z-index: 5;
    transition: opacity 0.6s ease;
  }
  
  .shine-effect:hover .shine-box {
    animation: shine 1s ;
    /* infinite */
  }
  